.container {
  display: flex;
  flex-direction: column;
  max-width: var(--layout-width-max);
  margin-inline: auto;
  padding: var(--layout-padding);
  gap: var(--layout-gap-size);

  form {
    display: contents;
  }
}

.action-button-row {
  display: flex;
  justify-content: center;
  gap: var(--layout-gap-size);
}
