.container {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-size);
  max-width: var(--layout-width-max);
  margin-inline: auto;
  padding: var(--layout-padding);
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.add-button {
  position: fixed;
  bottom: calc(4 * var(--layout-padding));
  right: max(
    calc((100vw - var(--layout-width-max)) / 2),
    calc(4 * var(--layout-padding))
  );
}

.tasks {
  display: flex;
  flex-direction: column;

  mat-card {
    margin-bottom: var(
      --layout-gap-size
    ); // margin instead of gap for smooth animations
    &.complete {
      background-color: var(--success-color);
    }
    .high-priority {
      color: var(--error-color);
    }
  }
}
